<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mytabbedapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mytabbedapp.MainApplication"
        android:label="MyTabbedApp"
        android:icon="@drawable/ic_launcher_foreground"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mytabbedapp.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="MyTabbedApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>
</manifest>
